body {
  font-family: "Arial",sans-serif;
  text-align: center;
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
}

#background{
  background-image: url("tricolor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #D3D3D3;
  border-width: 5px;
  width: 5%;
}

#navbar{
   float:right;
   background-color: orange;
   width: 100%;
   margin: 0;
   margin-right: auto;
   margin-left: 0;
   padding: 10px;
   position: absolute;
   top: 0;
 }

 #navbar ul{
   padding:0;
   list-style:none;
   text-align: right;
   padding-right: 10px;
 }

 #navbar li{
   display:inline-block;
 }

 #navbar a{
   color:#00f;
   text-decoration:none;
   font-size:18px;
   text-align: right;
   padding: 10px;
 }

 .top-container {

 }
 .middle-container {
   margin: 100px;
 }

 footer{
 width: 100%;
 margin-right: 0;
 }

 .bottom-container {
   background-color: orange;
   text-align: center;
   color: #fff;
   margin-right: 0;
   margin-left: 0;
   padding-top: 20px;
   width: 100%;
   position: absolute;
   top:auto;

 }

 .profile {
padding-bottom: 20px;
 }

 .skill-row {
   margin: 100px auto 100px auto;
 }

 .img1 {
   height: 300px;
   width: 300px;
   float: left;
   margin-right: 20px;
   line-height: 4;
   text-align: right;
   position: relative;
   bottom: 15px;
   left: 30px;
   border-radius: 100%;
 }

 .img2 {
   height: 200px;
   width: 300px;
   float: right;
   margin-left: 20px;
   line-height: 4;
   text-align: right;
   position: relative;
   bottom: 25px;
 }

  .btn {
   color: orange;
 }

 h1 {
   color: #000000;
   line-height: 2;
 }

 h2 {
   color: #000000;
   line-height: 2;
   padding-bottom: 10px;
 }

 h3 {
   color: #000000;
 }

 p {
   font-family: 'Montserrat', sans-serif;
 }

 a {
   color: #fff;
 }
